<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Test" value="Value" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
